body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e6e6;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #30cc93;
    height: 50px;
    vertical-align: middle;
  }
  
  h1{
    float: left;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    vertical-align: middle;
  }
  
  .navbar a{
    float: right;
    padding: 12px;
    margin: auto;
    font-size: 15px;
    vertical-align: middle;
  }
  
  .navbar a:hover{
    color: #5F65FE;
  }
  
  .navbar h1:hover{
    color: #5F65FE;
  }
  #js-ynab-button:hover{
    color: white;
  }
  
  #js-ynab-button{
    font-size: 24px;
    font-weight: 1;
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
    border-radius: 10px;
    background-color: #5F65FE;
  }
  
  .ynab{
    position: relative;
  }